In [3]:
import pandas as pd
from sqlalchemy import create_engine

In [4]:
csv_cc = "country-code.csv"
df = pd.read_csv(csv_cc)
df.head()

,url,Conti Nen Te,Nom Bre 1,Nom Bre 4,Iso 1,Iso 1_link,Iso 2,Cia,Cia_link,Telfono,Internet,Vehculo
0,https://country-code.cl/es/,AS,afganistan,Afganistán,AF,https://en.wikipedia.org/wiki/ISO_3166-2:AF,AFG,af,https://www.cia.gov/library/publications/the-w...,93,.af,AFG
1,https://country-code.cl/es/,EU,islas-aland,Islas Åland,AX,https://en.wikipedia.org/wiki/ISO_3166-2:AX,ALA,fi,https://www.cia.gov/library/publications/the-w...,358 18,.ax,AX
2,https://country-code.cl/es/,EU,albania,Albania,AL,https://en.wikipedia.org/wiki/ISO_3166-2:AL,ALB,al,https://www.cia.gov/library/publications/the-w...,355,.al,AL
3,https://country-code.cl/es/,AF,argelia,Argelia,DZ,https://en.wikipedia.org/wiki/ISO_3166-2:DZ,DZA,ag,https://www.cia.gov/library/publications/the-w...,213,.dz,DZ
4,https://country-code.cl/es/,OC,samoa-americana,Samoa Americana,AS,https://en.wikipedia.org/wiki/ISO_3166-2:AS,ASM,aq,https://www.cia.gov/library/publications/the-w...,1 684,.as,NaN

In [5]:
df = df[['Conti Nen Te','Nom Bre 1','Iso 2']].copy()
df = df.rename(columns={'Conti Nen Te':'Continent', 'Nom Bre 1':'Country Name','Iso 2':'country_id1',})

In [6]:
df.head()

  Continent     Country Name country_id1
0        AS       afganistan         AFG
1        EU      islas-aland         ALA
2        EU          albania         ALB
3        AF          argelia         DZA
4        OC  samoa-americana         ASM

In [7]:
df["country_id"] = "(" + df["country_id1"] + ")"

In [8]:
df = df[['Continent','Country Name','country_id']].copy()

In [9]:
df.head()

  Continent     Country Name country_id
0        AS       afganistan      (AFG)
1        EU      islas-aland      (ALA)
2        EU          albania      (ALB)
3        AF          argelia      (DZA)
4        OC  samoa-americana      (ASM)

In [10]:
df.to_csv('country_code2.csv')